<div class="grey darken-3 section no-pad-bot" style="min-height: 60vh;">
  <div class="container">
    <div class="row">
      <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
        <h5 class="white-text header col s12 light left">Amanda Louzada, desenvolvedora de sistemas Web e Mobile!</h5>
        <p class="white-text  header col s12 light left">Aluna do curso de Ciência da Computação da Universidade Federal do Tocantins e apaixonada por desenvolvimento de aplicativos móveis</p>
      </div>
    </div>
  </div>
</div>
<div class="container">
  <div class="section">
    <!--   Icon Section   -->
    <div class="row">
      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-3"><i class="large material-icons">web</i></h2>
          <h5 class="center">Desenvolvimento Web</h5>
          <p class="light">Desenvolvimento de sistemas webs, usando técnicas de desenvolvimento ágil, tecnologias modernas e responsivas </p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-3"><i class="large material-icons">group</i></h2>
          <h5 class="center">Foco no usuário</h5>

          <p class="light">Aplicações 100% focadas no usuário e acessiveis, aprendizado fácil e interativo, trabalhe facilmente deixando as dificuldades no passado.</p>
        </div>
      </div>

      <div class="col s12 m4">
        <div class="icon-block">
          <h2 class="center red-text text-lighten-3"><i class="large material-icons">stay_current_portrait</i></h2>
          <h5 class="center">Alcance todos os usuários</h5>

          <p class="light">Desenvolvimento de aplicações nativas Android, e aplicativos hibridos visando alcançar todas as plataformas, android, ios e windows phone</p>
        </div>
      </div>
    </div>

  </div>
  <br><br>

  <div class="section">
  </div>
</div>
