<footer class="page-footer grey darken-3">
    <div class="wrapper">
    <div class="container">
      <div class="row">
        <div class="col l6 s12">
          <h5 class="footer-heading">{{ site.title | escape }}</h5>
        </div>
        <div class="col l4 offset-l2 s12">
          <h5 class="white-text">Contatos</h5>
          <ul>
            <li>{{ site.title | escape }}</li>
            <li><a href="mailto:{{ site.email }}">{{ site.email }}</a></li>
          </ul>
        </div>
      </div>
    </div>
    <div class="footer-copyright">
      <div class="container">
        © 2014 Copyright Text Amanda Louzada
        <p class="grey-text text-lighten-4">{{ site.description | escape }}</p>
      </div>
    </div>
  </div>
</footer>
