<header class="site-header" role="banner">
  <div class="navbar-fixed">
    <nav class="grey darken-3" role="navigation">
        <div class="nav-wrapper container">
          <a id="logo-container" href="#" class="brand-logo"><img width="150" src="{{"/assets/img/logol.png"}}"></a>
          <ul class="right hide-on-med-and-down">
            <li><a href="#portifolio">Portifólio</li>
            <li><a href="#blog">Blog</li>
            <li><a href="#contato">Contato</li>
          </ul>
          <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
        </div>
      </nav>
    </div>
      <div class="grey darken-3 section no-pad-bot" style="min-height: 60vh;">
        <div class="container">
          <div class="row">
            <div class="col-xs-8 col-sm-8 col-md-8 col-lg-8">
              <h5 class="white-text header col s12 light left">Amanda Louzada, desenvolvedora de sistemas Web e Mobile!</h5>
              <p class="white-text  header col s12 light left">Alcance o seu cliente em qualquer lugar, o mundo está cada vez mais digital, seja na forma de se comunicar ou comprar. O que muitos esquecem é que as ações on e off estão completamente interligadas. É impossível ter sucesso com uma ação online se as coisas não vão bem no off. Automatize os seus precessos aumente a qualidade mas não esqueça de estar sempre acessível ao seu cliente.</p>
            </div>
          </div>
        </div>
      </div>
      <div class="container">
          <div class="section">
            <!--   Icon Section   -->
            <div class="row">
              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center red-text text-lighten-3"><i class="large material-icons">web</i></h2>
                  <h5 class="center">Desenvolvimento Web</h5>
                  <p class="light">Desenvolvimento de sistemas webs, utilizando boas praticas, automatize o seu negócio de forma prática, ofereço soluções personalizadas para as suas necessidades</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center red-text text-lighten-3"><i class="large material-icons">group</i></h2>
                  <h5 class="center">Foco no usuário</h5>

                  <p class="light">Aplicações 100% focadas no usuário e acessiveis, aprendizado fácil e interativo, trabalhe facilmente deixando as dificuldades no passado.</p>
                </div>
              </div>

              <div class="col s12 m4">
                <div class="icon-block">
                  <h2 class="center red-text text-lighten-3"><i class="large material-icons">stay_current_portrait</i></h2>
                  <h5 class="center">Alcance todos os usuários</h5>

                  <p class="light">Desenvolvimento de aplicações nativas Android, e aplicativos hibridos visando alcançar todas as plataformas, android, ios e windows phone</p>
                </div>
              </div>
            </div>

          </div>
          <br><br>

          <div class="section">

          </div>
        </div>

</header>
