<header class="site-header" role="banner">
  <div class="navbar-fixed">
    <nav class="grey darken-3" role="navigation">
      <div class="nav-wrapper container">
        <a id="logo-container" href="/" class="brand-logo">
          <img width="150" src="{{"/assets/img/logol.png"}}">
        </a>
        <ul class="right hide-on-med-and-down">
          <li><a href="#portifolio">Portifólio</li>
          <li><a href="#blog">Blog</li>
          <li><a href="#contato">Contato</li>
          <li><a href="http://amandalouzada.github.io/slide.html">Slide</li>
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
  </div>
</header>
